<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Portfolio</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="toolbar">
    <img class="toolbar-image" src="../assets/images/toolbar_mobile_img.png" alt="toolbar image">
    <div class="icon-wrapper"><i class="fas fa-bars"></i></div>
  </header>

  <main>
    <section class="intro-section margin-x">
      <h1 class="display-1">Leonardo Albornoz</h1>
      <p class="par">Hello! I am a software developer! I can help you build a product, feature or website. Taka a look
        of my works. If you like what you see and have a project you need coded, don’t hesitate and contact me.</p>
      <button class="btn" type="button"><span>Start collaboration</span></button>
    </section>
    <div class="intro-mobile-image"></div>
    <section id="work" class="work-section">
      <h1 class="display-1 margin-x">
        Projects
      </h1>
      <article class="project-card">
        <img src="../assets/images/projects/project-1.png" alt="project-1">
        <div class="card-body">
          <h2 class="card-header">Project name goes here</h2>
          <ul class="languages">
            <li class="lang">HTML/CSS</li>
            <li class="lang">Ruby on Rails</li>
            <li class="lang">Javascript</li>
          </ul>
          <a href="#" class="project-link">See this project<i class="fas fa-arrow-right"></i></a>
        </div>
      </article>
      <article class="project-card">
        <img src="../assets/images/projects/project-2.png" alt="project-2">
        <div class="card-body">
          <h2 class="card-header">Project name goes here</h2>
          <ul class="languages">
            <li class="lang">HTML/CSS</li>
            <li class="lang">Ruby on Rails</li>
            <li class="lang">Javascript</li>
          </ul>
          <a href="#" class="project-link">See this project<i class="fas fa-arrow-right"></i></a>
        </div>
      </article>
      <article class="project-card">
        <img src="../assets/images/projects/project-3.png" alt="project-3">
        <div class="card-body">
          <h2 class="card-header">Project name goes here</h2>
          <ul class="languages">
            <li class="lang">HTML/CSS</li>
            <li class="lang">Ruby on Rails</li>
            <li class="lang">Javascript</li>
          </ul>
          <a href="#" class="project-link">See this project<i class="fas fa-arrow-right"></i></a>
        </div>
      </article>
      <article class="project-card">
        <img src="../assets/images/projects/project-4.png" alt="project-4">
        <div class="card-body">
          <h2 class="card-header">Project name goes here</h2>
          <ul class="languages">
            <li class="lang">HTML/CSS</li>
            <li class="lang">Ruby on Rails</li>
            <li class="lang">Javascript</li>
          </ul>
          <a href="#" class="project-link">See this project<i class="fas fa-arrow-right"></i></a>
        </div>
      </article>
      <article class="project-card">
        <img src="../assets/images/projects/project-5.png" alt="project-5">
        <div class="card-body">
          <h2 class="card-header">Project name goes here</h2>
          <ul class="languages">
            <li class="lang">HTML/CSS</li>
            <li class="lang">Ruby on Rails</li>
            <li class="lang">Javascript</li>
          </ul>
          <a href="#" class="project-link">See this project<i class="fas fa-arrow-right"></i></a>
        </div>
      </article>
      <article class="project-card">
        <img src="../assets/images/projects/project-6.png" alt="project-6">
        <div class="card-body">
          <h2 class="card-header">Project name goes here</h2>
          <ul class="languages">
            <li class="lang">HTML/CSS</li>
            <li class="lang">Ruby on Rails</li>
            <li class="lang">Javascript</li>
          </ul>
          <a href="#" class="project-link">See this project<i class="fas fa-arrow-right"></i></a>
        </div>
      </article>
    </section>
    <section class="about-section margin-x">
      <article class="about-header">
        <h1 class="display-1">About</h1>
        <p class="par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ea
          eiusmod</p>
        <button class="btn" type="button"><span>Get mt CV<i class="fas fa-download"></i></span></button>
      </article>
      <article class="squares-wrapper">
        <div class="square square-1">
          <h2>Languages</h2>
          <ul>
            <li><span>JavaScript (ES5/ES6)</span></li>
            <li><span>Ruby</span></li>
            <li><span>HTML</span></li>
            <li><span>CSS</span></li>
          </ul>
          <div class="image image-lang"></div>
        </div>
        <div class="square square-2">
          <h2>Frameworks</h2>
          <ul>
            <li><span>Bootstrap</span></li>
            <li><span>Ruby on rails</span></li>
            <li><span>RSpec</span></li>
            <li><span>Capibara</span></li>
            <li><span>Selenium</span></li>
          </ul>
          <div class="image image-framework"></div>
        </div>
        <div class="square square-3">
          <h2>Skills</h2>
          <ul>
            <li><span>Codekit</span></li>
            <li><span>Codepen</span></li>
            <li><span>GitHub</span></li>
            <li><span>GitLAb</span></li>
            <li><span>Terminal</span></li>
          </ul>
          <div class="image image-skills"></div>
        </div>
      </article>
    </section>
  </main>

</body>

</html>