@use "../custom";

.footer {
  background: #1a2236;
  margin: 0;
  height: 118px;
  padding-top: 32px;

  @include custom.respond-above(lg) {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    @include custom.respond-above(lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 80%;
    }

    .link-resume {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #92dcdc;
      text-decoration: none;

      .link-image {
        margin-left: 16px;
      }
    }

    .links-to-social {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: space-between;

      @include custom.respond-above(lg) {
        gap: 32px;
      }

      li {
        .link-to-social {
          color: #fff;
          font-size: 25px;

          .fab {
            transition: transform, color;
            transition-duration: 0.7s;
            &:hover {
              color: #92dcdc;
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
