@use "../custom";

.intro-section {
  @include custom.respond-above(lg) {
    display: flex;
    padding-inline: 10%;
    gap: 20px;
    max-height: 100vh;
  }



  .content {
    @include custom.respond-above(lg) {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 46px;
      margin: 0;

      .main-card {
        display: flex;
        flex-direction: column;
        gap: 46px;
        width: 80%;
      }
    }
  }

  .desktop-image {
    display: none;

    @include custom.respond-above(lg) {
      display: block;
      flex: 1;
      background-image: url("../assets/images/IntroSection/desktop-intro-image.svg");

      background-size: contain;
      background-repeat: no-repeat;
      // height: 100%;
      aspect-ratio: 1 / 1.2493;
    }
  }
}

.dots-image {
  display: none;
  background-image: url("../assets/images/IntroSection/image_dots.svg");
  background-repeat: no-repeat;
  width: 175px;
  height: 175px;
  align-self: flex-end;
  margin-top: -30px;

  @include custom.respond-above(lg) {
    display: block;
  }
}

.intro-mobile-image {
  width: 100%;
  height: 160px;
  margin: 30px 0;
  background-image: url("../assets/images/IntroSection/intro-mobile.png");

  @include custom.respond-above(lg) {
    display: none;
  }
}
