@use "../custom";

.intro-section {
  @include custom.respond-above(lg) {
    display: flex;
  }

  .par {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: $primary;
  }

  .content {
    @include custom.respond-above(lg) {
      width: 40%;
      margin-top: 160px;
      display: flex;
      flex-direction: column;
      gap: 46px;
      margin-right: 0;
    }
  }

  .desktop-image {
    display: none;

    @include custom.respond-above(lg) {
      display: block;
      background-image: url("../assets/images/IntroSection/desktop-intro-image.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 50%;
      height: 877px;
    }
  }
}

.dots-image {
  display: none;
  background-image: url("../assets/images/IntroSection/image_dots.svg");
  background-repeat: no-repeat;
  width: 175px;
  height: 175px;
  align-self: flex-end;
  margin-top: -30px;

  @include custom.respond-above(lg) {
    display: block;
  }
}

.intro-mobile-image {
  width: 100%;
  height: 160px;
  margin: 30px 0;
  background-image: url("../assets/images/IntroSection/intro-mobile.png");

  @include custom.respond-above(lg) {
    display: none;
  }
}
