@use "../custom";

.toolbar {
  display: flex;
  justify-content: space-between;

  .icon-wrapper {
    @include custom.respond-above(lg) {
      display: none;
    }

    i {
      margin-top: 19px;
      margin-right: 16px;
      font-size: 30px;
      color: $primary;
    }
  }

  .toolbar-image {
    @include custom.respond-above(lg) {
      display: none;
    }
  }

  .nav-bar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    left: -100%;
    z-index: 10;
    transition: left 0.7s;

    @include custom.respond-above(lg) {
      left: 0;
      height: 100px;
    }

    .top-section {
      display: flex;
      justify-content: space-between;

      .nav-bar-mobile {
        &-top {
          height: 114px;
          width: 262.9998779296875px;
          border-radius: 0;
          background-image: url(../assets/images/IntroSection/nav-bar-top.svg);

          @include custom.respond-above(lg) {
            display: none;
          }
        }

        &-bottom {
          position: absolute;
          height: 150px;
          width: 320px;
          left: 0;
          top: calc(100% - 150px);
          border-radius: 0;
          background-image: url(../assets/images/IntroSection/nav-bar-bottom.svg);

          @include custom.respond-above(lg) {
            display: none;
          }
        }
      }

      .close-button {
        color: $primary;
        font-size: 30px;
        margin-right: 20px;
        margin-top: 20px;

        @include custom.respond-above(lg) {
          display: none;
        }
      }
    }

    .nav-links {
      list-style: none;
      padding: 0;
      width: 100%;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0;
      text-align: center;

      a {
        text-decoration: none;
        color: $primary;
      }

      @include custom.respond-above(lg) {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0;
      }
    }
  }

  .visible-menu {
    left: 0;
  }
}
