@use "../custom";

.work-section {
  
  @include custom.respond-above(lg) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      "title title   img0   first  first first first  first first"
      "title title   img0   first  first first first  first first"
      "title title   img0   first  first first first  first first"
      "second second second img2   img2  img2  last   last  last"
      "second second second img2   img2  img2  last   last  last"
      "second second second img2   img2  img2  last   last  last"
      "third  third  third  third  third .     fifth  fifth fifth"
      "third  third  third  third  third .     fifth  fifth fifth"
      "third  third  third  third  third .     fifth  fifth fifth"
      "third  third  third  third  third img3  img3   img3  img3"
      "third  third  third  third  third img3  img3   img3  img3"
      "third  third  third  third  third img3  img3   img3  img3"
      "img5   img5   .      .      img4  forth forth  forth ."
      "img5   img5   .      .      img4  forth forth  forth .";
  }

  &-header {
    @include custom.respond-above(lg) {
      display: flex;
      grid-area: title;
      flex-direction: column;
      align-items: flex-end;
      gap: 70px;
      transform: rotate(-90deg);
      height: fit-content;
      padding-right: 100px;

      .display-1 {
        margin: 0;
      }
    }
  }

  .project-decoration {
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    border-radius: 0;

    @include custom.respond-above(lg) {
        display: block;
      }

    &-1 {
      background-image: url(../assets/images/projects/project-decoration.svg);
      grid-area: img2;
    }

    &-2 {
      background-image: url(../assets/images/projects/project-decoration2.svg);
      grid-area: img3;
    }

    &-3 {
      background-image: url(../assets/images/projects/project-decoration3.svg);
      grid-area: img5;
    }

    &-4 {
      background-image: url(../assets/images/projects/project-decoration4.svg);
      grid-area: img4;
    }
  }

  .project-card {
    position: relative;
    overflow: hidden;

    &:hover {
      .card-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transform: translateY(0);
        
      }
    }

    @include custom.respond-above(lg) {
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .card-body {
      padding: 7.1609726987915858570789198866179%;
      background-color: $primary;
      border: 0.333333px solid rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1px);

      @include custom.respond-above(lg) {
        position: absolute;
        display: flex;
        flex: 1;
        bottom: 0;
        transform: translateY(calc(100% + 2px));
        transition: transform 500ms ease-in-out;
      }

      .card-header {
        margin: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0;
        text-align: left;
        color: #fff;

        @include custom.respond-above(lg) {
          font-size: 40px;
          font-weight: 700;
          line-height: 32px;
        }
      }

      .languages {
        list-style-type: none;
        display: flex;
        padding: 0;
        gap: 10px;

        .lang {
          background-color: #98dede;
          padding: 6px 10px;
          font-style: normal;
          font-weight: 300;
          font-size: 10.3334px;
          letter-spacing: 0;
          text-align: left;
          color: $primary;
          line-height: 8px;

          @include custom.respond-above(lg) {
            padding: 2% 3%;
            font-size: 20px;
            font-weight: 300;
            line-height: 16px;
          }
        }
      }

      .project-link {
        border: 1px solid #fff;
        padding: 10px;
        color: #fff;
        width: max-content;
        background-color: custom.$primary;

        @include respond-above(lg) {
          background-color: #fff;
          color: custom.$primary;

          &:hover {
            background-color: custom.$primary;
            color: #fff;
          }
        }

        i {
          margin-left: 12px;
        }
      }
    }

    @include custom.respond-above(lg) {
      &-1 {
        grid-area: first;
        width: 100%;
        max-height: 463px;

        .card-body {
          .card-header {
            font-size: 60px;
          }
        }
      }

      &-2 {
        grid-area: second;
      }

      &-3 {
        grid-area: last;
      }

      &-4 {
        grid-area: fifth;
      }

      &-5 {
        grid-area: third;
        }
      }

      &-6 {
        grid-area: forth;
      }
    }
  }
