@use '../custom' as *;
$position: calc(100% - 102px);

.about-section {
  @include respond-above(lg) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .about-header {
    @include respond-above(lg) {
      width: calc(50% - 96px);
      padding-top: 28px;

      .btn {
        margin-top: 42px;
      }
    }

    .btn {
      span {
        .fas {
          margin-left: 20px;
        }
      }
    }
  }

  .squares-wrapper {
    display: grid;
    justify-content: center;
    row-gap: 16px;
    margin: 50px 0;

    @include respond-above(lg) {
      grid-template-columns: 50% 50%;
      row-gap: 0;
    }

    .squares-decoration {
      display: none;
      background-image: url(../../assets/images/squares/decoration.svg);
      height: 222px;
      width: 222.01956176757812px;
      justify-self: flex-end;
      align-self: flex-end;
      
      @include respond-above(lg) {
        display: block;
      }
    }

    .square {
      position: relative;
      width: 289px;
      height: 289px;
      padding: 50px;
      h2 {
        margin: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 22px;
        color: #fff;
      }

      ul {
        padding: 0;
        margin: 0 25px;

        li {
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 27px;
          letter-spacing: -0.0525em;
          color: #fff;

          span {
            position: relative;
            left: -5px;
          }
        }
      }

      .image {
        top: $position;
        left: $position;
        position: absolute;
        height: 102px;
        width: 102px;
        background-repeat: no-repeat;

        &-lang {
          background-image: url(../../assets/images/squares/ic_languages_mob.png);
        }

        &-framework {
          background-image: url(../../assets/images/squares/ic_framework.png);
        }

        &-skills {
          background-image: url(../../assets/images/squares/ic_skills.png);
        }
      }

      &-1 {
        background: #1c528a;
      }

      &-2 {
        background: #e2505c;
      }

      &-3 {
        background: #febf52;
      }
    }
  }
}
