@use '../custom' as *;
.display-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: $primary;
}

.par {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: $primary;
}
.intro-mobile-image {
  width: 100%;
  margin: 30px 0;
}