@use '../custom' as *;

.btn {
  background-color: $primary;
  width: 100%;
  padding: 12px 0;
  border: none;
  border: 1px solid #1a2236;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;

  @include respond-above(lg) {
    width: 254px;
    height: 70px;
  }

  span {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $primary;

    span {
      color: $primary;
    }
  }

  &:focus {
    border: 2px solid #1a2236;
    background-color: #fff;

    span {
      color: $primary;
    }
  }
}
