@use '../custom' as *;

.error {
  background-color: #fff;
  position: fixed;
  top: 150px;
  left: calc(50% - 150px);
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $primary;
  box-shadow: 5px 5px 10px rgba($color: #000, $alpha: 0.2);
  gap: 7px;

  .close-error {
    color: $primary;
    align-self: flex-end;
    font-size: 25px;
  }
}
