body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.margin-x {
  margin-left: 5%;
  margin-right: 5%;
}

.btn {
  background-color: #1a2236;
  width: 100%;
  padding: 12px 0;
  border: none;
  border: 1px solid #1a2236;
}

.btn span {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #1a2236;
}

.btn:hover span {
  color: #1a2236;
}

.btn:focus {
  border: 2px solid #1a2236;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar .icon-wrapper i {
  margin-top: 19px;
  margin-right: 16px;
  font-size: 30px;
}

.display-1 {
  margin: 32px 0;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.par {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.intro-mobile-image {
  width: 100%;
  height: 160px;
  margin: 30px 0;
  background-image: url(../../assets/images/intro-mobile.png);
}

.work-section {
  display: grid;
}

.work-section .project-card img {
  display: block;
  width: 100%;
  height: auto;
}

.work-section .project-card .card-body {
  padding: 20px;
  background-color: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.work-section .project-card .card-body .card-header {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.work-section .project-card .card-body .languages {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

.work-section .project-card .card-body .languages .lang {
  background-color: #98dede;
  padding: 6px 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
}

.work-section .project-card .card-body .project-link {
  width: fit-content;
  display: block;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.work-section .project-card .card-body .project-link i {
  margin-left: 12px;
}

.about-section .about-header .btn span .fas {
  margin-left: 20px;
}

.about-section .squares-wrapper {
  display: grid;
  justify-content: center;
  row-gap: 16px;
  margin: 50px 0;
}

.about-section .squares-wrapper .square {
  position: relative;
  width: 189px;
  height: 189px;
  padding: 50px;
}

.about-section .squares-wrapper .square h2 {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 22px;
  color: #fff;
}

.about-section .squares-wrapper .square ul {
  padding: 0;
  margin: 0 25px;
}

.about-section .squares-wrapper .square ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.about-section .squares-wrapper .square ul li span {
  position: relative;
  left: -5px;
}

.about-section .squares-wrapper .square .image {
  top: calc(100% - 102px);
  left: calc(100% - 102px);
  position: absolute;
  height: 102px;
  width: 102px;
  background-repeat: no-repeat;
}

.about-section .squares-wrapper .square .image-lang {
  background-image: url(../../assets/images/squares/ic_languages_mob.png);
}

.about-section .squares-wrapper .square .image-framework {
  background-image: url(../../assets/images/squares/ic_framework.png);
}

.about-section .squares-wrapper .square .image-skills {
  background-image: url(../../assets/images/squares/ic_skills.png);
}

.about-section .squares-wrapper .square-1 {
  background: #1c528a;
}

.about-section .squares-wrapper .square-2 {
  background: #e2505c;
}

.about-section .squares-wrapper .square-3 {
  background: #febf52;
}

.contact-form {
  background: #f9f9fa;
}

.contact-form .contact-mobile-image {
  background-image: url(../../assets/images/contact-mobile.png);
  width: 111px;
  height: 74.02px;
}

.contact-form .content {
  margin-bottom: 64px;
}

.contact-form .content .btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact-form .content .form {
  display: flex;
  flex-direction: column;
}

.contact-form .content .form ul {
  list-style: none;
  padding: 0;
}

.contact-form .content .form ul li {
  margin-bottom: 8px;
}

.contact-form .content .form ul li input,
.contact-form .content .form ul li textarea {
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 23px 0 8px 16px;
}

.contact-form .content .form ul li textarea {
  width: 100%;
  height: 112px;
  resize: none;
  padding: 15px 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
}

.contact-form .content .form .field-wrapper {
  position: relative;
}

.contact-form .content .form .field-wrapper label {
  position: absolute;
  top: 4px;
  left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

.footer {
  background: #1a2236;
  margin: 0;
  height: 118px;
  padding-top: 32px;
}

.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.footer div a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  text-decoration: none;
}

.footer div a .link-image {
  margin-left: 16px;
}

.footer div .links-to-social {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.footer div .links-to-social li a {
  color: #fff;
  font-size: 25px;
}
